.contactDetails__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)) !important;
}

.contactDetails__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contactDetails__card {
    background-color: $color-bg-primary !important;
    width: 100%;
    // max-width: 37.5rem;
    flex-direction: row !important;
    align-items: center;
    img {
        width: 4rem !important;
        margin-right: 2rem !important;
    }
    h4 {
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 900px) {
    .contactDetails__card {
        img {
            width: 8rem !important;
            margin-right: 3rem !important;
        }
    }
}
