.contactForm {
    display: flex;
    flex-direction: column !important;
    background-color: $color-bg-primary !important;

    label {
        display: flex;
        flex-direction: column;

        span {
            color: $color-text-light;
        }
        input,
        textarea {
            font-size: 1.2rem;
            padding: 0.5rem;
            outline: none;
        }
    }
}

.contactForm:hover {
    transform: unset !important;
}
