.main {
}

.main__content {
    text-align: center;
    h4 {
        color: $color-text-light;
    }
    h2 {
        margin: 1rem 0;
    }
}

@media screen and (min-width: 620px) {
    .main__content {
        text-align: left;
    }
}
