.main__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    gap: 2rem;
}

.main__content {
    h4 {
        color: $color-text-light;
    }
    h2 {
        margin: 1rem 0;
    }
    button {
        background-color: $color-accent;
        border: none;
        padding: 0.5rem 0.8rem;
        color: $color-bg-primary;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
    }
}

.main__image {
}

@media screen and (min-width: 900px) {
}
