header {
    .container {
        padding: 0 2rem;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    ul {
        z-index: 999;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70vw;
        margin: 0;
        background-color: hsl(0, 0, 255, 0.8);
        backdrop-filter: saturate(180%) blur(5px);
        flex-direction: column;
        padding: 10rem 3rem;
        gap: 3rem;
        transition: $transition;
        list-style: none;

        .active-link {
            border-bottom: 3px solid $color-accent;
        }
    }

    &__hamburger {
        z-index: 9999;
        cursor: pointer;
        span {
            width: 1.9rem;
            height: 0.2rem;
            background: black;
            display: block;
        }
        span:not(:last-child) {
            margin-bottom: 0.3rem;
        }
    }
}

.inactive {
    transform: translateX(100%);
}

@media screen and (min-width: 700px) {
    .navbar ul {
        position: unset;
        top: unset;
        right: unset;
        height: unset;
        width: unset;
        background-color: unset;
        backdrop-filter: unset;
        padding: unset;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .navbar__hamburger {
        display: none;
    }
    .inactive {
        transform: translateX(0);
    }
}
