$color-primary: #2e3b95;
$color-accent: #f26223;
$color-bg-primary: #ffffff;
$color-bg-secondary: #f7f8f9;
$color-text-dark: #000000;
$color-text-light: #707070;
$color-text-lighter: #a1a1a1;

$transition: all 350ms ease-in-out;
$shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
