// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap");
// Variables
@import "./variables";
// Commons
@import "../components/Commons/Navbar/navbar";
@import "../components/Commons/Footer/footer";
// Home
@import "../components/Home/Main/main";
@import "../components/Home/Ceo/ceo";
@import "../components/Home/OurThings/ourThings";
@import "../components/Home/OurBusiness/ourBusiness";
// ContactUs
@import "../components/ContactUs/ContactDetails/contactDetails";
// Products
@import "../components/Products/ProductCard/productCard";
// Reusables
@import "../components/Reusables/Button/button";

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
}

p {
    color: $color-text-light;
}

.s1 {
    background-color: $color-bg-primary;
}
.s2 {
    background-color: $color-bg-secondary;
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 6.25rem 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    gap: 2rem;
}

.heading {
    color: $color-text-light;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.card {
    display: flex;
    gap: 1rem;
    background-color: $color-bg-secondary;
    padding: 2rem;
    box-shadow: $shadow;

    img {
        width: 100px;
    }

    h4 {
        color: $color-text-light;
    }
    p {
        font-size: 0.9rem;
    }
}
.card:nth-child(2n) {
    flex-direction: row-reverse;
}

.products__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    place-items: center;
}

.product__content {
    .product__details {
        padding: 1rem;
        box-shadow: $shadow;
        margin: 2rem 0;

        .product__row {
            display: flex;
            align-items: center;
            h5 {
                width: 20%;
                margin-right: 2rem;
                color: $color-text-light;
                text-transform: capitalize;
            }
            p {
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: 540px) {
    body {
        font-size: 16px;
    }
    .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 6.25rem 3.125rem;
    }
}
